/*----------------------------------
PROJECT DETAILS
----------------------------------*/

/*Breaking Faith
Copyright 2015, Andrew Nguyen
https://s3.amazonaws.com/bsunproduction/asbestos/index.html
Complete date: 07-20-2015*/

/*----------------------------------
TABLE OF CONTENTS
----------------------------------*/

/*----------------------------------
NORMALIZE
----------------------------------*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/*----------------------------------
BOX SIZING
----------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------------------------------
CLEARFIX
----------------------------------*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*----------------------------------
SASS PARTIALS
----------------------------------*/
/*
// @import "partials/_colors";
// @import "partials/_grid";
// @import "partials/_mixins";
// @import "partials/_normalize";

// Sections
// @import "partials/_base";
// @import "partials/_intro";
// @import "partials/_sidebar";
// @import "partials/_chart";
// @import "partials/_tooltip";
// @import "partials/_others";
// @import "partials/_homescreen";
// @import "partials/_footer";
// @import "partials/_feedback";

/*----------------------------------
MAIN STYLES
----------------------------------*/

html {
	font-size: 62.5%; /* 10px browser default */
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 6.5rem;
	color: #fff;
	margin: 0;
}

/* Landscape phone to portrait tablet */
@media (max-width: 790px) {
	h1 {
		font-family: 'Lato', sans-serif;
		font-size: 5.5rem;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 675px) {
	h1 {
		font-family: 'Lato', sans-serif;
		font-size: 4.25rem;
	}
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 25px;
}

a {
	text-decoration: none;
	color: #111;
}

.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

.container img {
	width: 100%;
	height: 100%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.container img {
		width: 100%;
		height: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.container img {
		width: 100%;
		height: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 320px) {
	.container img {
		width: 100%;
		height: 100%;
	}
}

figcaption {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #777;
	padding-top: 1%;
	padding-bottom: 3%;
	width: 86%;
	margin: 0 auto;
	text-align: left;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	figcaption {
		width: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	figcaption {
		width: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 320px) {
	figcaption {
		width: 100%;
	}
}

.icon {
	width: 30px;
	height: 30px;
	text-align: center;
}

.iconContainer {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 38px;
}

/*----------------------------------
NEW
----------------------------------*/

nav {
	width: 100%;
	height: 72.5px;
	background: #fff;
	position: fixed;
	z-index: 100;
}

.logo {
	padding: 12px;
}

.bdnsun {
	width: 65px;
	height: 40px;
	float: left;
	position: relative;
	top: -7px;
}

.details {
	color: #111;
	position: relative;
	top: -8px;
}

.title {
	display: inline;
	padding-left: 2%;
	padding-right: 0.25%;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 700;
}

.chapters {
	position: relative;
	top: -39px;
	float: right;
	width: 125px;
	height: 40px;
	border-left: 1px solid #ccc;
}

/* Landscape phone to portrait tablet */
@media (max-width: 775px) {
	.chapters {
		display: none;
	}
}

.backward {
	height: 40px;
	width: 57px;
	display: inline-block;
}

.forward {
	border-left: 1px solid #ccc;
	height: 40px;
	width: 62px;
	display: inline;
	float: right;
}

.backward:hover,
.forward:hover,
.fa-twitter {
	cursor: pointer;
}

.fa-angle-left,
.fa-angle-right,
.fa-twitter {
	color: #111;
	width: 30px;
	height: 30px;
}

/* Portrait tablet and small desktops */
@media (max-width: 975px) {
	.fa-twitter {
		position: relative;
		left: -4px;
		top: -1px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phones and down */
@media (max-width: 320px) {
	.fa-twitter {
		position: relative;
		left: -8px;
		top: -1px;

	}
}

.fa-angle-left {
	position: relative;
	left: 21px;
}

.fa-angle-right {
	position: relative;
	left: 25px;
}

.fa-angle-left:hover,
.fa-angle-left:active,
.fa-angle-right:hover,
.fa-angle-right:active,
.fa-twitter:hover,
.fa-twitter:active {
	color: #FFDC00;
}

ul {

}

ul li {
	text-decoration: none;
	list-style-type: none;
}

.social {

}

/*----------------------------------
PROGRESS BAR
----------------------------------*/

progress {
	width: 100%;
	height: 19px;
	z-index: 90;
	position: relative;
	top: -6px;
	background-color: #ccc;
	color: #FFDC00;
}

progress::-webkit-progress-bar {
	background-color: #ccc;
	color: #FFDC00;
}

progress::-webkit-progress-value {
	background-color: #FFDC00;
    color: #FFDC00;
}

progress::-moz-progress-bar {
	background-color: #FFDC00;
    color: #FFDC00;
    height: 19px;
    position: relative;
    left: -2px;
}

.splash {
	background-image: url("../img/henry-01.jpg");
	background-size: cover;
	height: 750px;
	background-repeat: no-repeat;
	background-position-x: 45%;
	background-position-y: 110px;
	position: relative;
	top: -34px;

}

.teaser {
	// width: 40%;
	// position: relative;
	// left: 5%;
	// top: 25%;
	width: 55%;
	position: relative;
	left: 12%;
	top: 66%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.teaser {
		// top: 61%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.teaser {
		// top: 65%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.teaser {
		top: 62%;
	}
}

.subhead {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 2rem;
	width: 68%;
}

/* Portrait tablet and small desktops */
@media (max-width: 875px) {
	.subhead {
		width: 70%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 800px) {
	.subhead {
		width: 100%;
		font-family: 'Lato', sans-serif;
		font-size: 1.8rem;
	}
}

/* Landscape phones and down */
@media (max-width: 525px) {
	.subhead {
		font-family: 'Lato', sans-serif;
		font-size: 1.6rem;
	}
}

/* Landscape phones and down */
@media (max-width: 400px) {
	.subhead {
		font-family: 'Lato', sans-serif;
		font-size: 1.4rem;
	}
}

.byline-alt {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1rem;
	opacity: 0.7;
}

.by {
	color: #ccc;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding-left: 10px;
	opacity: 0.7;
}

.dot {
	padding-left: 5px;
	color: #ccc;
	position: relative;
	top: -2px;
}

.byline {
	color: #ccc;
	opacity: 0.7;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding-left: 2px;
	padding-right: 2px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 450px) {
	.by,
	.byline,
	.first {
		display: none;
	}
}


.time {
	color: #ccc;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding-left: 10px;
	padding-right: 2px;
	text-transform: uppercase;
}

.full {
	color: #111;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding-left: 3px;
	text-transform: uppercase;
}

/* Landscape phone to portrait tablet */
@media (max-width: 775px) {
	.time,
	.full,
	.second {
		display: none;
	}
}

.wrapper {
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.wrapper {
		width: 80%;
	}
}

/* Landscape phones and down */
@media (max-width: 320px) {
	.wrapper {
		width: 85%;
	}
}

.wrapper p {
	font-family: Georgia;
	// font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 2;

	&.asterisk {
		font-family: 'Lato', sans-serif;
		font-size: 12px;
		font-weight: 400;
		text-align: left;
		margin-bottom: 0;
	}

	&.tableHeaderTitle {
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		font-weight: 700;
		text-align: left;
		// margin-top: 0;
		margin-top: 5%;
		margin-bottom: 8px;
	}

	&.tableFooterTitle {
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 700;
		text-align: left;
		margin-top: 0;
		// margin-bottom: 8%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 666px) {
	.wrapper p.tableHeaderTitle {
		font-family: 'Lato', sans-serif;
		font-size: 13px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 545px) {
	.wrapper p.tableHeaderTitle {
		font-family: 'Lato', sans-serif;
		font-size: 12px;
	}
}

.quote {
	font-family: 'Georgia';
	font-size: 15rem;
	font-weight: 700;
	color: #FFDC00;
	position: absolute;
	top: -100px;
	left: -45px;
	z-index: -10;
}

blockquote {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 2;
	margin-top: 6%;
	margin-bottom: 6%;
	padding: 2%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	blockquote {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		padding-top: 3%;
		width: 84%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	blockquote {
		font-family: 'Lato', sans-serif;
		font-size: 17px;
		padding-top: 5%;
		width: 84%;
	}
}

/* Landscape phones and down */
@media (max-width: 666px) {
	blockquote {
		font-family: 'Lato',sans-serif;
		font-size: 16px;
		padding-top: 5%;
		width: 90%;
	}
}

/* Landscape phones and down */
@media (max-width: 620px) {
	blockquote {
		font-family: 'Lato',sans-serif;
		font-size: 16px;
		padding-top: 5%;
		width: 95%;
	}
}

/* Landscape phones and down */
@media (max-width: 320px) {
	blockquote {
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		padding-top: 10%;
	}

	.wide {
		width: 84%;
	}
}

cite {
	display: block;
	text-align: right;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	padding-top: 3%;
}

/* Portrait tablet and small desktops */
@media (max-width: 1080px) {
	.adjusted {
		width: 92%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 584px) {
	.adjusted {
		width: 88%;
	}
}

/* Landscape phones and down */
@media (max-width: 320px) {
	cite {
		font-family: 'Lato', sans-serif;
		font-size: 13px;
	}

	// .adjusted {
	// 	width: 97%;
	// }
}

.chapter {

}

.one,
.two,
.three,
.four,
.five {

}

.highlight {
	border-bottom: 4px solid #FFDC00;
	cursor: pointer;
	padding-bottom: 2px;

	&:hover {
		border-bottom: 4px solid darken(#FFDC00, 5%);
	}
}

.more {
	color: #FFDC00;
    font-family: 'Lato',sans-serif;
    font-size: 14rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: relative;
    left: -1.5%;
    top: 80px;
    z-index: 0;
    margin: 0;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 650px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 13rem;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 625px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 12.5rem;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 12rem;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 575px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 11rem;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 525px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 10rem;
	}
}

/* Landscape phones and down */
@media (max-width: 500px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 8.5rem;
		position: relative;
		left: -1.5%;
		top: 66px;
	}
}

/* Landscape phones and down */
@media (max-width: 450px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 7.5rem;
		position: relative;
		left: -1.5%;
		top: 58px;
	}
}

/* Landscape phones and down */
@media (max-width: 380px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 6.5rem;
		position: relative;
		left: -1.5%;
		top: 50px;
	}
}

/* Landscape phones and down */
@media (max-width: 320px) {
	.more {
		font-family: 'Lato',sans-serif;
		font-size: 6rem;
		position: relative;
		left: -1.5%;
		top: 50px;
	}
}

footer {
	background: #f7f7f7;;
	height: 200px;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phones and down */
@media (max-width: 320px) {
}

.disabled {
	pointer-events: none;
}

hr {
	text-align: center;
	width: 80%;
	position: relative;
	top: 20px;
	// display: none;
	// left: 5px;
}

.credits {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	top: 40%;
	left: 5%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.credits {
		position: relative;
		top: 24%;
		left: 5%;
		width: 80%;
	}
}

/* Landscape phones and down */
@media (max-width: 350px) {
	.credits {
		width: 88%;
	}
}

/* Landscape phones and down */
@media (max-width: 320px) {
	.credits {
		position: relative;
		top: 24%;
		left: 5%;
	}
}

.role {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.nounProject {
	&:hover,
	&:active {
		border-bottom: 4px solid #FFDC00;
	}
}

.table {
	background: #f2f2f2;
	height: 400px;
}

/*----------------------------------
DATA TABLES
----------------------------------*/

#DataTables_Table_0_length,
#DataTables_Table_0_filter,
#DataTables_Table_0_info,
#DataTables_Table_0_paginate,
#DataTables_Table_1_length,
#DataTables_Table_1_filter,
#DataTables_Table_1_info,
#DataTables_Table_1_paginate,
#chartOne_filter,
#chartOne_length,
#chartOne_info,
#chartOne_paginate {
	display: none;
}

.dataTables_wrapper {
	padding: 15px;
	margin-bottom: 5%;
	background: #f2f2f2;
	width: 850px;
	max-width: 850px;
	text-align: center;
}

th, td {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-align: left;
	padding: 8px;
	padding-top: 12px;
}

/* Landscape phones and down */
@media (max-width: 455px) {
	th, td {
		font-family: 'Lato', sans-serif;
		font-size: 12px;
	}
}

/* Landscape phones and down */
@media (max-width: 455px) {
	th, td {
		font-family: 'Lato', sans-serif;
		font-size: 12px;
	}
}

/* Landscape phones and down */
@media (max-width: 366px) {
	th, td {
		font-family: 'Lato', sans-serif;
		font-size: 11px;
	}
}

/* Landscape phones and down */
@media (max-width: 366px) {
	th, td {
		font-family: 'Lato', sans-serif;
		font-size: 10px;
	}
}

th.sorting,
th.sorting_asc,
td.sorting_1 {
	background: #f2f2f2;
}

.value {
	text-align: center;
}

thead {
	border-bottom: 3px solid #111;
}

.total {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
	border-top: 1px solid #111;
}

.tableContainer {
	width: 100%;
	margin: 0 auto;
	background: #f2f2f2;
	padding: 12px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 1350px) {
	.fix-one {
		width: 110%;
	}

	.chartOne {
		position: relative;
		left: -5%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 1230px) {
	.fix-one {
		width: 120%;
	}

	.chartOne {
		position: relative;
		left: -8%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 1130px) {
	.fix-one {
		width: 130%;
	}

	.chartOne {
		position: relative;
		left: -14%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 1040px) {
	.fix-one {
		width: 140%;
	}

	.chartOne {
		position: relative;
		left: -14%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 960px) {
	.fix-one {
		width: 150%;
	}

	.chartOne {
		position: relative;
		left: -24%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 905px) {
	.fix-one {
		width: 160%;
	}

	.chartOne {
		position: relative;
		left: -30%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 860px) {
	.chartImage {
		position: relative;
		left: -30%;
		width: 85%;
		height: 85%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 700px) {
	.fix-two {
		width: 110%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 650px) {
	.fix-two {
		width: 120%;
	}

	.chartTwo {
		position: relative;
		left: -10%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 575px) {
	.fix-two {
		width: 130%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 550px) {
	.fix-two {
		width: 140%;
	}

	.chartTwo {
		position: relative;
		left: -20%;
	}
}

/* Landscape phones and down */
@media (max-width: 500px) {
	.fix-two {
		width: 150%;
	}

	.chartTwo {
		position: relative;
		left: -25%;
	}
}

/* Landscape phones and down */
@media (max-width: 485px) {
	.fix-two {
		width: 485px;
	}

	.chartTwo {
		position: relative;
		left: -13%;
	}

	#nudge {
		position: relative;
		left: 10px;
	}
}

/* Landscape phones and down */
@media (max-width: 455px) {
	.fix-two {
		width: 450px;
	}
}

/* Landscape phones and down */
@media (max-width: 425px) {
	.fix-two {
		width: 425px;
	}
}

/* Landscape phones and down */
@media (max-width: 400px) {
	.fix-two {
		width: 400px;
	}
}

/* Landscape phones and down */
@media (max-width: 375px) {
	.fix-two {
		width: 375px;
	}
}

/* Landscape phones and down */
@media (max-width: 350px) {
	.fix-two {
		width: 350px;
	}
}

/* Landscape phones and down */
@media (max-width: 325px) {
	.fix-two {
		width: 325px;
	}
}

/* Landscape phones and down */
@media (max-width: 319px) {
	.fix-two {
		width: 320px;
	}
}

.emphasize {
	background: #FFDC00;
}

video {
	width: 95%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phones and down */
@media (max-width: 320px) {
	video {
		width: 100%;
	}
}

.yellow {
	color: #ffdc00;
}

#expand {
	background: #f2f2f2;
	// padding: 5px;
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	z-index: 20;
	display: inline-block;

	&:hover,
	&:active {
		background: #ffdc00;
	}
}

/* Landscape phones and down */
@media (max-width: 575px) {
	#expand {
		width: 110%;
		position: relative;
		left: -15px;
		// z-index:;
	}
}

/* Landscape phones and down */
@media (max-width: 500px) {
	#expand {
		width: 120%;
		position: relative;
		left: -30px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	#expand {
		position: relative;
		left: -35px;
	}
}

/* Landscape phones and down */
@media (max-width: 350px) {
	#expand {
		position: relative;
		left: -25px;
	}
}

.inline {
	position: relative;
	top: 22px;
	z-index: 30;
}

/* Portrait tablet and small desktops */
@media (max-width: 1300px) {
	.inline {
		position: relative;
		top: 19px;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 1200px) {
	.inline {
		position: relative;
		top: 16px;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 1000px) {
	.inline {
		position: relative;
		top: 9px;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 900px) {
	.inline {
		position: relative;
		top: 7px;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 800px) {
	.inline {
		position: relative;
		top: 4px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 700px) {
	.inline {
		position: relative;
		top: 2px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 500px) {
	.inline {
		position: relative;
		top: -5px;
	}
}





/* Landscape phones and down */
@media (max-width: 480px) {
}