/*----------------------------------
HIGHLIGHT
----------------------------------*/
.blockquote__highlight--fullcolor,
.footer__highlight {
	color: #23c3ff;
	font-size: 14px;
}

.blockquote__name--fullcolor,
.blockquote__title--fullcolor {
	font-family: 'Lato', sans-serif;
}
