/*----------------------------------
IMAGES
----------------------------------*/
figure {
	margin-top: 25px;
	margin-bottom: 2.5px;
}

figcaption {
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 30px;
	width: 97%;
	color: #111;
	font-weight: 400;
	font-family: Lato, sans-serif;
}

.figcaption--duff {
	padding-bottom: 10px;
	padding-top: 35px;
}

.bold {
	padding-right: 5px;
	text-transform: uppercase;
	font-weight: 800;
	font-family: 'Oswald', sans-serif;
}