/*----------------------------------
ISSUES
----------------------------------*/
.issue {
	margin-bottom: 25px;
	padding-bottom: 25px;
	height: 100%;
	background-color: #f7f7f7;

	p {
		margin: 0 auto;
		padding-bottom: 20px;
		width: 45%;
		color: #111;
		text-align: center;
		font-size: 1.6rem;
		font-family: 'Lato', sans-serif;
		line-height: 1.8;
	}
}

.issue__container {
	padding-bottom: 5px;
	text-align: center;
}

.issue__icon {
	width: 50px;
	height: 50px;
	fill: #111;
}

.issue__pattern {
	margin-top: 25px;
	height: 200px;
}

.issue__pattern--book,
.issue__pattern--mattress,
.issue__pattern--drugs {
	background-position: center;
}

.issue__pattern--mattress {
	background-color: #7FDBFF;
	background-image: url("../img/mattress.png");
}

.issue__pattern--duff {
	background-image: url("../img/duff.jpg");
	background-position: 46% 37%;
	margin-top: 0;
}

.issue__pattern--book { background-image: url("../img/book.jpg"); }
.issue__pattern--drugs { background-image: url("../img/drugs.png"); }