/*----------------------------------
VARIABLES
----------------------------------*/

$grey-lighter: #f7f7f7; // Footer with credits
$grey: #ccc; // Thin progress bar
$grey-darker: #e7e7e7; // The entire navigation bar
$grey-darkest: #999; // Social media icons in the navigation

$yellow: #ffdc00; // Default "Brandon Sun" color online
$yellow-darker: #d2b600; // Border color on the pullquotes, "Quotebird"
$blue: #23c3ff; // The color of the baby blue asterisk