/*----------------------------------
ADVERTISING
----------------------------------*/

.advertising {
	width: 100%;
	text-align: center;
}

.advertising__image {
	margin-top: 0px;
	margin-bottom: 50px;
}