/*----------------------------------
FOOTER
----------------------------------*/

footer {
	clear: both;
	height: 180px;
	background: $greyLightest;
	font-weight: 400;
	font-size: 14px;
	font-family: "Lato", sans-serif;
}

.footer__title {
	position: relative;
	top: -28px;
	left: 4.5%;
	padding-top: 0px;
	color: $yellow;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 700;
	font-size: 4.8rem;
}

.footer__credits {
	position: relative;
	top: -24%;
	left: 5%;
	width: 95%;
}

.footer__name--underline {
	padding-bottom: 2px;
	border-bottom: 2px solid $yellow;
}

.footer__name { font-weight: 700; }