/*----------------------------------
COLORS
----------------------------------*/

// Brand
$black: #111;
$yellow: #ffdc00;

// Shades of grey
$greyLightest: #f7f7f7; // Highlight, Footer
$greyLighter: #e7e7e7; // Threes, List Items
$grey: #ddd; // Blockquote
$greyDarker: #ccc; // Progress Bar
$greyDarkest: #999; // Navigation sign
