/*----------------------------------
COLORS
----------------------------------*/

$color-primary: #ffdc00 !default;
$color-white: #ffffff !default;
$color-black: #212121 !default;
$color-primary-alt: #fdb81e !default;
$color-primary-alt-light: #f9c642 !default;
$color-primary-alt-lighter: #fad980 !default;
$color-primary-alt-lightest: #fff1d2 !default;
$color-secondary: #02bfe7 !default;
$color-secondary-dark: #00a6d2 !default;
$color-secondary-darkest: #046b99 !default;
$color-secondary-light: #9bdaf1 !default;
$color-secondary-lightest: #e1f3f8 !default;

$color-twitter: #4099ff;

/*----------------------------------
SHADES OF GREY
----------------------------------*/

$color-grey-dark: #323a45 !default;
$color-grey: #5b616b !default;
$color-grey-light: #aeb0b5 !default;
$color-grey-lighter: #d6d7d9 !default;
$color-grey-lightest: #f1f1f1 !default;
